@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.content-width {
  margin-left: auto;
  max-width: 770px;
  width: 100%;
}

@keyframes spin-slow {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 8s linear infinite;
}

@keyframes movingCircle {
  0% {
    transform: translateX(0px);
  }
  20% {
    transform: translateX(-70px);
  }
  50% {
    transform: translateY(-70px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes zoom {
  0% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.5);
  }
}
@keyframes zoom2 {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
